@font-face {
  font-family: 'NanumSquareNeoBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), 
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), 
       url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeoLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

.jokbo-write-container {
  width: 1080px; 
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 45px;
  box-sizing: border-box;
}

/* 족보게시판 텍스트*/
.jokbo-write-header {
  font-family: 'NanumSquareNeoBold', sans-serif;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  color:#575f44;
  font-size: 18px;
  font-weight: bold;
}

.board-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-family: 'NanumSquareNeoBold', sans-serif;
}

.title-input {
  width: 100%;
  font-size: 22px;
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dcdcdd;
  outline: none;
  box-sizing: border-box;
}

.content-editor-container {
  border: 1px solid #dcdcdd;
  width: 100%;
  box-sizing: border-box;
}

.content-editor {
  height: 600px;
}

.content-editor .quill {
  width: 100%;
}

.ql-container {
  font-size: 16px !important;
  width: 100% !important;
  border: none !important;
  box-sizing: border-box;
}

.ql-editor {
  min-height: 300px;
  width: 100% !important;
  box-sizing: border-box;
}

.ql-editor p {
  font-size: 16px; /* 문단의 폰트 크기 */
}

/* 폰트 크기 선택기 스타일 */
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]:not([data-value=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]:not([data-value=''])::before {
  content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label {
  padding-right: 20px !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-options {
  max-height: 200px;
  overflow-y: auto;
}

/* 폰트 추가 부분 */
.ql-font-NeoBold { 
  font-family: 'NanumSquareNeoBold', 'NanumSquareNeoLight', Arial, sans-serif !important; 
}
.ql-font-NeoLight { 
  font-family: 'NanumSquareNeoLight', Arial, sans-serif !important; 
}

/* 폰트 크기 적용 안 돼서 추가함 */
.ql-snow .ql-size-8px { font-size: 8px; }
.ql-snow .ql-size-9px { font-size: 9px; }
.ql-snow .ql-size-10px { font-size: 10px; }
.ql-snow .ql-size-11px { font-size: 11px; }
.ql-snow .ql-size-12px { font-size: 12px; }
.ql-snow .ql-size-14px { font-size: 14px; }
.ql-snow .ql-size-16px { font-size: 16px; }
.ql-snow .ql-size-18px { font-size: 18px; }
.ql-snow .ql-size-20px { font-size: 20px; }
.ql-snow .ql-size-22px { font-size: 22px; }
.ql-snow .ql-size-24px { font-size: 24px; }
.ql-snow .ql-size-26px { font-size: 26px; }
.ql-snow .ql-size-28px { font-size: 28px; }
.ql-snow .ql-size-36px { font-size: 36px; }

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]:not([data-value=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]:not([data-value=''])::before {
  content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label {
  padding-right: 20px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-options {
  max-height: 200px;
  overflow-y: auto;
}

/* 기본 선택된 폰트 크기 스타일 */
/* .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px' !important;
  font-weight: bold;
} */


.ql-toolbar {
  width: 100% !important;
  text-align: left !important;
  border: none !important;
  border-bottom: 1px solid #ebecef !important;
  box-sizing: border-box;
}

.tag-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 3%;
  /* border-top: 1px solid #ccc; */
  height: 68px;
  cursor: text;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.tag-input-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  height: 0.5px;
  color:#575f44;
  background-color: #dcdcdd;
}

.tag {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  font-family: 'NanumSquareNeoBold', sans-serif;
}

.remove-tag {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
}

.tag-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 3px;
  margin-bottom: 5px;
  background: transparent;
  box-sizing: border-box;
}

.tag-placeholder {
  color: #999;
  padding-left: 0; /* 왼쪽 패딩 제거 */
}